.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin: 4px 0;

  .color-block {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}
.color-picker-overlay {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  width: 240px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.06);

  .title {
    margin-bottom: 4px;
  }

  .recommend-colors {
    display: grid;
    width: calc(100% - 10px);
    grid-row: 8px;
    grid-column: 8px;
    grid-template-columns: repeat(auto-fill, 28px);
    grid-template-rows: repeat(auto-fill, 28px);
    margin-bottom: 10px;
    margin-left: 10px;
  
    .color-item {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  // 重写颜色选择器样式
  :global {
    .sketch-picker {
      box-shadow: unset !important;
    }
  }
}
